<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="logback-variables.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="logback-base.xml"/>

    <!-- <logger name="org.springframework.security" level="DEBUG" /> -->
    <!-- <logger name="weber.de.example.graphql.bingo" level="DEBUG"/> -->

    <root level="INFO">
        <appender-ref ref="${LOGGING_APPENDER:-CONSOLE}"/>
    </root>


</configuration>
