@import "src/sass/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.session-form {
  padding: 3rem 3rem;
  background: $panel-background;
  .mat-form-field {
    display: block;
    margin-bottom: 3rem;
  }

  .redirect-progress {
    margin-bottom: 3rem;
    .mat-progress-bar {
      margin-top: 2rem;
    }
  }
}
